.bento-grid-01_card__d7Zt7 {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .bento-grid-01_card__d7Zt7 {
    background-color:var(--mantine-color-black)
  }
  .bento-grid-01_card__d7Zt7 {
    border:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .bento-grid-01_card__d7Zt7 {
    border:1px solid var(--mantine-color-dark-7)
  }
  .bento-grid-01_card-section__ddcxP {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .bento-grid-01_card-section__ddcxP {
    background-color:var(--mantine-color-dark-9)
  }
  .bento-grid-01_grid__wASri {
    display:grid;
    gap:var(--mantine-spacing-xl);
    grid-template-columns:repeat(1,100%);
    grid-template-areas:"one" "two" "three" "four" "five"
  }
  @media (min-width:48em) {
    .bento-grid-01_grid__wASri {
      grid-template-columns:repeat(6,1fr);
      grid-template-areas:"one one two two three three" "four four four five five five"
    }
  }
  .jumbo-title_xl__AdPzV {
    font-size:clamp(calc(3.375rem * var(--mantine-scale)),calc(3rem + 5vw),calc(7.5rem * var(--mantine-scale)))
  }
  .jumbo-title_lg__2DeiN {
    font-size:clamp(calc(3rem * var(--mantine-scale)),calc(2.5rem + 4vw),calc(5.625rem * var(--mantine-scale)))
  }
  .jumbo-title_md__lmu1Q {
    font-size:clamp(calc(2.625rem * var(--mantine-scale)),calc(2rem + 3vw),calc(4.375rem * var(--mantine-scale)))
  }
  .jumbo-title_sm__iICrU {
    font-size:clamp(calc(2.375rem * var(--mantine-scale)),calc(1.75rem + 2vw),calc(3.4375rem * var(--mantine-scale)))
  }
  .jumbo-title_xs__ahZax {
    font-size:clamp(calc(2.125rem * var(--mantine-scale)),calc(1.5rem + 1.5vw),calc(2.8125rem * var(--mantine-scale)))
  }
  .blog-01_blog-card__2AAyb {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .blog-01_blog-card__2AAyb {
    background-color:var(--mantine-color-dark-9)
  }
  .call-to-action-01_card__eWdiY {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .call-to-action-01_card__eWdiY {
    background-color:var(--mantine-color-dark-9)
  }
  .call-to-action-01_card__eWdiY {
    border-radius:var(--mantine-radius-lg)
  }
  .call-to-action-01_button__RJfEc {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .call-to-action-01_button__RJfEc {
    background-color:var(--mantine-color-white)
  }
  .call-to-action-01_button__RJfEc {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .call-to-action-01_button__RJfEc {
    color:var(--mantine-color-black)
  }
  .feature-01_container__ySNLW {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .feature-01_container__ySNLW {
    background-color:var(--mantine-color-black)
  }
  .spotlight-card_root__JpmxQ {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .spotlight-card_root__JpmxQ {
    background-color:var(--mantine-color-black)
  }
  .spotlight-card_root__JpmxQ {
    display:flex;
    flex-direction:column;
    position:relative;
    border:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .spotlight-card_root__JpmxQ {
    border:1px solid var(--mantine-color-dark-7)
  }
  .spotlight-card_root__JpmxQ {
    border-bottom:0;
    height:100%
  }
  .spotlight-card_spotlight__cAIpr {
    position:absolute;
    top:0;
    left:50%;
    max-width:100%;
    height:1px;
    pointer-events:none;
    transform:translate(-50%,-50%);
    background:linear-gradient(90deg,transparent 0,transparent 0,color-mix(in srgb,var(--mantine-color-gray-5),transparent 30.000000000000004%) 50%,transparent 100%)
  }
  [data-mantine-color-scheme=dark] .spotlight-card_spotlight__cAIpr {
    background:linear-gradient(90deg,transparent 0,transparent 0,color-mix(in srgb,var(--mantine-color-dark-2),transparent 30.000000000000004%) 50%,transparent 100%)
  }
  .spotlight-card_side-gradient__UqxOW {
    pointer-events:none;
    position:absolute;
    left:-2px;
    top:-2px;
    height:calc(100% + 4px);
    width:calc(100% + 4px);
    background:linear-gradient(180deg,transparent 0,var(--mantine-color-white) 50%,var(--mantine-color-white) 100%)
  }
  [data-mantine-color-scheme=dark] .spotlight-card_side-gradient__UqxOW {
    background:linear-gradient(180deg,transparent 0,var(--mantine-color-black) 50%,var(--mantine-color-black) 100%)
  }
  .spotlight-card_radial-gradient__tq_9X {
    align-items:center;
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    padding:var(--mantine-spacing-lg);
    background:radial-gradient(70% 80% at center 0,color-mix(in srgb,var(--mantine-color-black),transparent 97%) 3%,transparent 70%)
  }
  [data-mantine-color-scheme=dark] .spotlight-card_radial-gradient__tq_9X {
    background:radial-gradient(70% 80% at center 0,color-mix(in srgb,var(--mantine-color-white),transparent 94%) 3%,transparent 70%)
  }
  .footer-01_container__zwaQk {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .footer-01_container__zwaQk {
    background-color:var(--mantine-color-dark-9)
  }
  .footer-01_container__zwaQk {
    border-top:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .footer-01_container__zwaQk {
    border-top:1px solid var(--mantine-color-dark-7)
  }
  .footer-01_link__AjfO9:hover {
    color:var(--mantine-color-black)!important
  }
  [data-mantine-color-scheme=dark] .footer-01_link__AjfO9:hover {
    color:var(--mantine-color-white)!important
  }
  .gallery-01_card__MTFZ7 {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .gallery-01_card__MTFZ7 {
    background-color:var(--mantine-color-dark-9)
  }
  .header-01_container__QHfq0 {
    color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .header-01_container__QHfq0 {
    color:var(--mantine-color-white)
  }
  .header-01_container__QHfq0 {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .header-01_container__QHfq0 {
    background-color:var(--mantine-color-black)
  }
  .header-01_container__QHfq0 {
    border:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .header-01_container__QHfq0 {
    border:1px solid var(--mantine-color-dark-7)
  }
  .header-01_link-container__jlgaB {
    overflow-x:auto;
    flex-shrink:0;
    mask-image:linear-gradient(90deg,transparent,#000 5%,#000 95%,transparent)
  }
  .header-01_link__n1yRO {
    color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .header-01_link__n1yRO {
    color:var(--mantine-color-white)
  }
  .header-01_link__n1yRO:hover {
    color:var(--mantine-color-gray-7)
  }
  [data-mantine-color-scheme=dark] .header-01_link__n1yRO:hover {
    color:var(--mantine-color-dark-2)
  }
  .header-01_cta__1tZ_I {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .header-01_cta__1tZ_I {
    background-color:var(--mantine-color-white)
  }
  .header-01_cta__1tZ_I {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .header-01_cta__1tZ_I {
    color:var(--mantine-color-black)
  }
  .hero-01_cta__BwWyK {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .hero-01_cta__BwWyK {
    background-color:var(--mantine-color-white)
  }
  .hero-01_cta__BwWyK {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .hero-01_cta__BwWyK {
    color:var(--mantine-color-black)
  }
  .logos-01_logo__T36a1 {
    color:var(--mantine-color-gray-5)
  }
  [data-mantine-color-scheme=dark] .logos-01_logo__T36a1 {
    color:var(--mantine-color-dark-4)
  }
  .newsletter-01_text-input__wBNH8 {
    background-color:var(--mantine-color-white)
  }
  .newsletter-01_button__eDB5d,
  [data-mantine-color-scheme=dark] .newsletter-01_text-input__wBNH8 {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .newsletter-01_button__eDB5d {
    background-color:var(--mantine-color-white)
  }
  .newsletter-01_button__eDB5d {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .newsletter-01_button__eDB5d {
    color:var(--mantine-color-black)
  }
  .pricing-01_root__4Dz_T {
    background-color:var(--mantine-color-white)
  }
  .pricing-01_cta__DwfJM,
  [data-mantine-color-scheme=dark] .pricing-01_root__4Dz_T {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .pricing-01_cta__DwfJM {
    background-color:var(--mantine-color-white)
  }
  .pricing-01_cta__DwfJM {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .pricing-01_cta__DwfJM {
    color:var(--mantine-color-black)
  }
  .team-01_action-icon__lLsS2 {
    color:var(--mantine-color-gray-5)
  }
  [data-mantine-color-scheme=dark] .team-01_action-icon__lLsS2 {
    color:var(--mantine-color-dark-4)
  }
  @media (hover:hover) {
    .team-01_action-icon__lLsS2:hover {
      color:var(--mantine-color-black)
    }
    [data-mantine-color-scheme=dark] .team-01_action-icon__lLsS2:hover {
      color:var(--mantine-color-white)
    }
  }
  @media (hover:none) {
    .team-01_action-icon__lLsS2:active {
      color:var(--mantine-color-black)
    }
    [data-mantine-color-scheme=dark] .team-01_action-icon__lLsS2:active {
      color:var(--mantine-color-white)
    }
  }
  .testimonial-01_cell__rMSzr {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .testimonial-01_cell__rMSzr {
    background-color:var(--mantine-color-dark-9)
  }
  .testimonial-01_badge__0ll02 {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .testimonial-01_badge__0ll02 {
    background-color:var(--mantine-color-white)
  }
  .testimonial-01_badge__0ll02 {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .testimonial-01_badge__0ll02 {
    color:var(--mantine-color-black)
  }
  .footer-02_container__lu1lJ {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .footer-02_container__lu1lJ {
    background-color:var(--mantine-color-black)
  }
  .footer-02_container__lu1lJ {
    border-top:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .footer-02_container__lu1lJ {
    border-top:1px solid var(--mantine-color-dark-7)
  }
  .footer-02_input__RF7Yo {
    background-color:#fff
  }
  [data-mantine-color-scheme=dark] .footer-02_input__RF7Yo {
    background-color:rgba(0,0,0,.7)
  }
  .footer-02_input__RF7Yo {
    backdrop-filter:saturate(180%) blur(10px)
  }
  .footer-02_button__KLQBw {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .footer-02_button__KLQBw {
    background-color:var(--mantine-color-white)
  }
  .footer-02_button__KLQBw {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .footer-02_button__KLQBw {
    color:var(--mantine-color-black)
  }
  @media (max-width:var(--mantine-breakpoint-lg )) {
    .testimonials-02_cell__yYlZY {
      aspect-ratio:1/1
    }
  }
  .testimonials-02_tinted-cell__5Pc1J {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .testimonials-02_tinted-cell__5Pc1J {
    background-color:var(--mantine-color-dark-9)
  }
  .hero-02_cta__6S1Rz {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .hero-02_cta__6S1Rz {
    background-color:var(--mantine-color-white)
  }
  .hero-02_cta__6S1Rz {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .hero-02_cta__6S1Rz {
    color:var(--mantine-color-black)
  }
  .hero-02_horizontal-backdrop__LVPnl {
    background:linear-gradient(90deg,#fff 0,hsla(0,0%,100%,.8) 40%,transparent 70%)
  }
  [data-mantine-color-scheme=dark] .hero-02_horizontal-backdrop__LVPnl {
    background:linear-gradient(90deg,#000 0,rgba(0,0,0,.8) 40%,transparent 70%)
  }
  .hero-02_horizontal-backdrop__LVPnl {
    z-index:1
  }
  .hero-02_vertical-backdrop__g4c0i {
    background:linear-gradient(0deg,#fff 0,hsla(0,0%,100%,.8) 5%,transparent 15%)
  }
  [data-mantine-color-scheme=dark] .hero-02_vertical-backdrop__g4c0i {
    background:linear-gradient(0deg,#000 0,rgba(0,0,0,.8) 5%,transparent 20%)
  }
  .hero-02_vertical-backdrop__g4c0i {
    z-index:1
  }
  .orbit_root__JwZPc {
    background-color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .orbit_root__JwZPc {
    background-color:var(--mantine-color-black)
  }
  .orbit_ring__3W90r {
    border:2px solid var(--mantine-color-gray-1)
  }
  [data-mantine-color-scheme=dark] .orbit_ring__3W90r {
    border:2px solid var(--mantine-color-dark-8)
  }
  .orbit_ring-element__0ixxW {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .orbit_ring-element__0ixxW {
    color:var(--mantine-color-black)
  }
  .orbit_ring-element__0ixxW {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .orbit_ring-element__0ixxW {
    background-color:var(--mantine-color-white)
  }
  .hero-03_cta__ROTpi {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .hero-03_cta__ROTpi {
    background-color:var(--mantine-color-white)
  }
  .hero-03_cta__ROTpi {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .hero-03_cta__ROTpi {
    color:var(--mantine-color-black)
  }
  .hero-03_cta-icon__7Pa3z {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .hero-03_cta-icon__7Pa3z {
    background-color:var(--mantine-color-white)
  }
  .hero-03_cta-icon__7Pa3z {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .hero-03_cta-icon__7Pa3z {
    color:var(--mantine-color-black)
  }
  .hero-03_input__TVlHi {
    background-color:#fff
  }
  [data-mantine-color-scheme=dark] .hero-03_input__TVlHi {
    background-color:rgba(0,0,0,.7)
  }
  .hero-03_input__TVlHi {
    backdrop-filter:saturate(180%) blur(10px)
  }
  .hero-03_avatar___iRkS {
    filter:grayscale(100%)
  }
  .hero-03_vertical-backdrop__ap8Pe {
    background:linear-gradient(0deg,#fff 0,hsla(0,0%,100%,.8) 40%,transparent 70%)
  }
  [data-mantine-color-scheme=dark] .hero-03_vertical-backdrop__ap8Pe {
    background:linear-gradient(0deg,#000 0,rgba(0,0,0,.8) 40%,transparent 70%)
  }
  .hero-03_vertical-backdrop__ap8Pe {
    z-index:1
  }
  .orbit-card_content__YdSyA {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .orbit-card_content__YdSyA {
    background-color:var(--mantine-color-white)
  }
  .orbit-card_content__YdSyA {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .orbit-card_content__YdSyA {
    color:var(--mantine-color-black)
  }
  @media (min-width:62em) {
    .pricing-02_highlightedHeaderCell__uNk0G {
      background-color:var(--mantine-color-gray-0)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedHeaderCell__uNk0G {
      background-color:var(--mantine-color-dark-9)
    }
    .pricing-02_highlightedHeaderCell__uNk0G {
      border-radius:var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
      border-left:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedHeaderCell__uNk0G {
      border-left:1px solid var(--mantine-color-dark-7)
    }
    .pricing-02_highlightedHeaderCell__uNk0G {
      border-right:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedHeaderCell__uNk0G {
      border-right:1px solid var(--mantine-color-dark-7)
    }
    .pricing-02_highlightedHeaderCell__uNk0G {
      border-top:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedHeaderCell__uNk0G {
      border-top:1px solid var(--mantine-color-dark-7)
    }
    .pricing-02_highlightedFooterCell__ASo2d {
      background-color:var(--mantine-color-gray-0)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedFooterCell__ASo2d {
      background-color:var(--mantine-color-dark-9)
    }
    .pricing-02_highlightedFooterCell__ASo2d {
      border-radius:0 0 var(--mantine-radius-md) var(--mantine-radius-md);
      border-left:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedFooterCell__ASo2d {
      border-left:1px solid var(--mantine-color-dark-7)
    }
    .pricing-02_highlightedFooterCell__ASo2d {
      border-right:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedFooterCell__ASo2d {
      border-right:1px solid var(--mantine-color-dark-7)
    }
    .pricing-02_highlightedFooterCell__ASo2d {
      border-bottom:1px solid var(--mantine-color-gray-2)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedFooterCell__ASo2d {
      border-bottom:1px solid var(--mantine-color-dark-7)
    }
  }
  .pricing-02_row__fPg31 {
    border-top:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .pricing-02_row__fPg31 {
    border-top:1px solid var(--mantine-color-dark-7)
  }
  .pricing-02_highlightedRow__uDu1u {
    border-left:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .pricing-02_highlightedRow__uDu1u {
    border-left:1px solid var(--mantine-color-dark-7)
  }
  .pricing-02_highlightedRow__uDu1u {
    border-right:1px solid var(--mantine-color-gray-2)
  }
  [data-mantine-color-scheme=dark] .pricing-02_highlightedRow__uDu1u {
    border-right:1px solid var(--mantine-color-dark-7)
  }
  .pricing-02_highlightedRow__uDu1u {
    background-color:var(--mantine-color-gray-0)
  }
  [data-mantine-color-scheme=dark] .pricing-02_highlightedRow__uDu1u {
    background-color:var(--mantine-color-dark-9)
  }
  .pricing-02_iconOn__0bXa_ {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .pricing-02_iconOn__0bXa_ {
    background-color:var(--mantine-color-white)
  }
  .pricing-02_iconOn__0bXa_ {
    color:var(--mantine-color-white)
  }
  .pricing-02_iconOff__XqyXO,
  [data-mantine-color-scheme=dark] .pricing-02_iconOn__0bXa_ {
    color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .pricing-02_iconOff__XqyXO {
    color:var(--mantine-color-white)
  }
  .pricing-02_highlightedCta__h9sRW {
    background-color:var(--mantine-color-black)
  }
  [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW {
    background-color:var(--mantine-color-white)
  }
  .pricing-02_highlightedCta__h9sRW {
    color:var(--mantine-color-white)
  }
  [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW {
    color:var(--mantine-color-black)
  }
  @media (hover:hover) {
    .pricing-02_highlightedCta__h9sRW:hover {
      color:var(--mantine-color-white)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW:hover {
      color:var(--mantine-color-black)
    }
    .pricing-02_highlightedCta__h9sRW:hover {
      background-color:var(--mantine-color-dark-9)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW:hover {
      background-color:var(--mantine-color-gray-0)
    }
  }
  @media (hover:none) {
    .pricing-02_highlightedCta__h9sRW:active {
      color:var(--mantine-color-white)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW:active {
      color:var(--mantine-color-black)
    }
    .pricing-02_highlightedCta__h9sRW:active {
      background-color:var(--mantine-color-dark-9)
    }
    [data-mantine-color-scheme=dark] .pricing-02_highlightedCta__h9sRW:active {
      background-color:var(--mantine-color-gray-0)
    }
  }
  